@font-face {
  font-family: diroz;
  src: url(../public/font/diroz/Dirooz.ttf)format(truetype);
  src: url(../public/font/diroz/Farsi-Digits-Without-Latin/Dirooz-FD-WOL.ttf)format(truetype);
  src: url(../public/font/diroz/Dirooz.woff)format(woff);
  src: url(../public/font/diroz/Dirooz.woff2)format(woff2);
}
@font-face {
  font-family: gandom;
  src: url(../public/font/gandom/Gandom.ttf)format(truetype);
  src: url(../public/font/gandom/Gandom.woff)format(woff);
}
@font-face {
  font-family: nastaligh;
  src: url(../public/font/nastaligh/iranNastaliq.ttf)format(truetype);
 
}




@import "tailwindcss";
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: diroz;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: diroz;
}
ul {
  list-style-type: none;
}
.container {
  width: 85%;
  margin: 0 auto;
}

/* hero section */

.hero_section {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../public/heaader.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header{
  @apply bg-[#ffffff] py-[1.5rem] px-[.9rem] shadow-md
}
.nav-head {
  background-color: rgb(233, 230, 230);
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-head ul {
  display: flex;
  gap: 2rem;
}
.nav-head ul li {
  padding-left: 0.8rem;
  border-left: 2px solid orangered;
  font-size: 0.9rem;
  color: #2423238a;
}
.nav-head-title {
  color: orangered;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: orangered;
}

.nav_list {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-item {
  transition: all ease 0.2s;
}
.nav-item:hover {
  color: orangered;
}
.sign_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.signup {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(223, 57, 35), rgb(218, 151, 112));
  color: white;
  border: 2px solid rgb(228, 69, 48);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: all ease-in-out 0.4s;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
}
.signin {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(228, 69, 48);
  border: 2px solid rgb(228, 69, 48);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: all ease-in-out 0.4s;
}
.sign_container button {
  background-color: transparent;
  display: none;
  border: transparent;
  cursor: pointer;
}
.signin:hover {
  background: linear-gradient(to right, rgb(223, 57, 35), rgb(189, 48, 13));
  color: #ffffff;
}
.signup:hover {
  background: transparent;
  color: rgb(228, 69, 48);
}

.dropdown {
  position: relative;
}
.dropdown_container {
  display: flex;
  gap: 3rem;
  position: absolute;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
  opacity: 0;
  transform: translateY(-50px);
  box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
}
.dropdown:hover .dropdown_container {
  opacity: 1;
  transform: translateY(0);
}
.dropdown_img_container {
  width: 100px;
  height: 100px;
}
.dropdown_img_container img {
  width: 100%;
  height: 100%;
}

.sidebar {
  z-index: 2;
  height: 100vh;
  background-color: #ffffff;
  color: black;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem 1rem;
  transform: translateX(320px);
  transition: all ease-in-out 0.5s;
}
.show-sidebar {
  transform: translateX(0px);
}
.nav_list_side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav_item_side {
  padding: 1rem;
  border-radius: 10px;
  transition: all ease 0.4s;
  cursor: pointer;
}
.nav_item_side:hover {
  background-color: skyblue;
  color: white;
}

.close-button {
  background: transparent;
  border: none;
  color: black;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  cursor: pointer;
  transition: all ease 0.2s;
  border-radius: 100%;
}


.title {
  color: white;
  margin-top: 4rem;
  font-size: 3rem;
  animation: title-animation 1s;
}
.title-color {
  color: orangered;
  font-size: 3rem;
  font-family: "nastaligh";
    animation: title-color-animation 1s;
  margin-bottom: 2rem;
}
.header-desc {
  color: white;

  font-size: 1rem;
  animation: title-color-animation 1s;
}

@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translateY(-130px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes title-color-animation {
  0% {
    opacity: 0;
    transform: translateY(130px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.header-search {
  background-color: white;
  padding: 1.2rem;
  border-radius: 10px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
}
.header-search input {
  width: 100%;
  height: 4rem;
  background-color: #9e9e9e57;
  border-radius: 10px;
  border: none;
  padding-right: 0.5rem;
}
.header-search span {
  background-color: orangered;
  color: white;
  padding: 0.9rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.header-search span:hover {
  background-color: rgb(255, 120, 71);
}
.header-search input:focus {
  border: none;
  outline: none;
}
.header-search input::placeholder {
  font-size: 1.2rem;
  color: black;
  padding-right: .5rem;
}





@media (width < 750px) {
  .sign_container a{
    display: none;
  }
  .sign_container button{
    display: block;
  }
  .nav_list{
    display: none;
  }
  .title{
    font-size: 1.5rem;
  }
  .title-color{
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .nav-head{
    display: none;
  }

}
@media (width < 950px) {
 
  .sign_container button{
    font-size: .7rem;
    padding: .2rem 1rem;
  }
  .nav_list{
    font-size: .9rem;
    gap: 2rem;
  }
  .row{
    gap: 2rem;
  }
}